@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  :root {
    color-scheme: light dark;
    @apply text-white duration-300;
  }
}

@media (prefers-color-scheme: light) {
  @layer components {
    :root {
      @apply text-gray-900;
    }

    a:hover {
      @apply text-blue-600;
    }

    button {
      @apply bg-white;
    }
  }
}